.category {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

/* list */
.mainCategory {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    /* overflow: hidden */
}

.groupHeader {
    padding: 0px 10px;
    margin: 10px 0px;
    width: 90px;
    text-align: center;
    font-size: 20px;
}

.subCategory {
    list-style: none;
    padding-left: 10px;
    display: flex;
    width: 80%;
    align-items: center;
    overflow: auto;
    position: absolute;
    left: 100px;
    /* margin-bottom: -17px */
}

.subCategory li {
    margin: 5px;
    word-break:keep-all;
    white-space: nowrap;
}