/* selectedKeyword */
.keywordLists {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

/* keyword button */
.keywordDeleteBtn {
    background-color: rgb(255, 255, 255);
    border: 0.3px solid rgba(102, 102, 102, 0.466);
    border-radius: 25px;
    padding: 15px 20px;
    margin: 5px;    
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.keywordDeleteBtn span {
    margin-right: 5px;
    margin-top: 1px;
}

.keywordDeleteBtn .fa-thumbtack {
    margin: 2px 7px 0 0;
}

/* selected keyword button */
.isChecked .keywordDeleteBtn {
    background-color: rgba(46, 70, 133, 1);
    border: none;
    color: white;
}

@media (max-width: 860px) {
    .keywordDeleteBtn {
        font-size: 0.9rem;
        height: 35px;
    }
}

@media (min-width: 860px) {
    .keywordDeleteBtn:hover {
        background-color: rgb(97, 119, 177);
        color: white;
    }

    .isChecked .keywordDeleteBtn:hover {
        background-color: rgb(97, 119, 177);
    }
}