/* diaries */
.diaries {
    list-style: none;
  }
  
  .diary {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid gray;
  }
  
  .diaryImage {
    margin-right: 15px;
  }
  
  .diaryImage img {
    width: 140px;
    height: 140px;
  }
  
  .diaryTitle {
    font-size: 17px;
  }
  
  .diaryBrand {
    font-size: 15px;
    opacity: 0.7;
    font-weight: bold;
  }

  .diaryTitle, .diaryBrand {
    padding-left: 16px;
  }