/* diaries */
.diaries {
  list-style: none;
}

.diary {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}

.diaryImage {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.diaryImage img {
  width: 140px;
  height: 140px;
}

.diarySize {
  margin-bottom: 5px;
}

.diaryLink {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(111, 99, 192, 0.84);
  text-align: center;

  transition: 0.3s;
}

.diaryLink:hover {
  background-color: rgba(192, 99, 164, 0.84);
}

.diaryLink:visited {
  background-color: rgba(189, 40, 40, 0.84);
}

/* diaryInfo */
.diaryTitle {
  font-size: 17px;
}

.diaryBrand {
  font-size: 15px;
  opacity: 0.7;
  font-weight: bold;
}

.diaryTitle,
.diaryBrand {
  padding-left: 16px;
}

.diaryKeywords button {
  font-size: 0.9rem;
}
