body {
  padding: 10px;
  /* background: linear-gradient(rgb(255, 187, 51) 50%, rgb(85, 187, 170) 0);
  background-size: 100% 50px; */
  background: linear-gradient(rgb(246 244 245) 95%, rgb(208 223 234) 0);
  background-size: 100% 50px;
  
}

.keywordMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category, .ResultLists {
  max-width: 800px;
  padding-top: 20px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 25px 20px 25px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  border: 8px double rgb(239, 64, 81);
  outline: 4px solid rgb(239, 64, 81);
}

#title {
  font-size: 30px;
  margin: 10px 0;
}

.info {
  font-size: 13px;
}

@media (max-width: 760px) {
  body {
    background-size: 100% 30px;
  }

  #title {
    font-size: 25px;
  }

  .info {
    font-size: 11px;
  }
}