@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 10px;
  background: linear-gradient(rgb(246 244 245) 95%, rgb(208 223 234) 0);
  background-size: 100% 50px;
  font-family: 'GowunDodum-Regular';
}

button {
  font-family: 'GowunDodum-Regular';
}

.keywordMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1rem;
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category, .ResultLists {
  max-width: 800px;
  padding-top: 20px;
}


/* title */
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 25px 20px 25px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  border: 8px double rgb(239, 64, 81);
  outline: 4px solid rgb(239, 64, 81);
}

.title {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#emoji {
  font-size: 25px;
  margin-right: 5px;
}

#appTitle {
  font-size: 35px;
  font-weight: 600;
}

.info {
  font-size: 15px;
}

@media (max-width: 760px) {
  body {
    background-size: 100% 30px;
  }

  #title {
    font-size: 25px;
  }

  .info {
    font-size: 11px;
  }
}